.item {
    width: 100%;
    margin-bottom: 24px;
    padding: 16px 16px;
    margin-bottom: 18px !important;

    .openMint {
        width: 100%;
    }

    img {
        border-radius: 6px;
    }
}