.wrapper {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    flex-wrap: wrap;


    .logo {
        width: 84px;
        height: auto;
        margin: 0 auto;
        img {
            border-radius: 50%;
        }
        
    }

    .signin {
        border-radius: 8px;
        padding: 24px 12px 12px 16px;

        .title {
            margin-top: 12px;
        }

        .subTitle {
            margin-top: 24px;
        }

        .description {
            margin-top: 12px;
        }

        .walletButton {
            width: 100%;
            margin-top: 8px;
        }

        .buyNow *{
            font-weight: 900;
        }
    }
}